                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a class="btn btn-sm btn-block btn-outline-primary"
                                   href="https://growpotatoes.garden/azure">
                                    <i class="align-middle mr-2 fas fa-fw fa-utensils"></i>
                                    Azure Standard
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="btn btn-sm btn-block btn-outline-warning"
                                   href="/feed.xml">
                                    <i class="align-middle mr-2 fas fa-fw fa-rss"></i>
                                    RSS FEED
                                </a>
                            </li>
                        </ul> <!-- /.ul -->
